@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "open sans", sans-serif;
  color: #000;
  margin: 0;
}
ul{
  list-style-type: none;
}
img{
  max-width: 100%;
  height: 20vh;
}
.cta-btn {
  margin: 2vw;
  background: slateblue;
  border-radius: 66px;
  color: aliceblue;
  border: white 4px solid;
  font-weight: 800;
  width: 12rem;
  height: 3rem;
  font-family: "poppins",sans-serif;
  transition: 0.5  smooth !important;
}
.cta-btn:hover {
  border: none;
  box-shadow: black 2px 2px 10px;
  color: slateblue;
  background-color: transparent;
}
a {
  color: black;
  margin: 0;
  padding: 10px;
  font-size: 2vh;
  font-family: "Poppins";
}

a:hover {
  font-style: italic;
  color: rgb(32, 32, 209);
  text-decoration: none;
}
button {
  font-family: "Poppins";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
span{
  box-shadow: 0;
  font-family: 'Open sans',cursive;
}

.profile-card .card {
  border-radius: 10px;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

.profile-card .card .spanOwnername {
 
  box-shadow: 0 ;
}
#vendor .cta-btn{
  margin: 0;
  
}

.vendorCard{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
    margin: auto;
}
@media (max-width:600px){
  .vendorCard{
    display: inline;
  }
 .vendorCard .card img{
height: 36vh;

 }
 .profile-card .card .card-body a{
   font-size: 6vw;
 }
 .vendorCard .card{
   margin-top: 20px;
  }
  
}
@media (min-width:600px){
  .vendorCard{
    display: inline;
    text-align: center;
    margin: auto;

  }
 .vendorCard .card img{
height: 26vh;


 }
 .profile-card .card .card-body a{
   font-size: 3vw;
 }
 .vendorCard .card{
   margin-top: 20px;
   margin:  20px auto;
   padding: 10px;
  }
  
  .profile-card .card .card-body a:focus{
    font-size: 1.5vw;
    color: grey;
  }

}
@media (min-width:900px){
  .vendorCard{
    display: flex;
    text-align: center;
    margin: auto;
  }
 .vendorCard .card img{
height: 36vh;
width: 34vh;


 }
 .profile-card .card .card-body a{
   font-size: 2vw;
 }
 .vendorCard .card{
   margin-top: 20px;
   margin:  20px auto;
  }
  
}
#vendor .card  {
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  
}
.profile-card .card .card-body {
  padding: 0;
}


.profile-card .card .card-body h5 {
  text-transform: capitalize;
  font-size: 18px;
  padding: 24px 18px;
  color: #354A21;
  font-weight: 600;
}


.profile-card .card .items {
  padding: 16px 0;
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
}

.profile-card .card .items ul li {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  list-style: none;
  padding: 8px 0;
  font-weight: 700;
  padding-left: 16px;
  color: #354A21;
  letter-spacing: 1px;
}

.profile-card .card .items ul .active {
  background-color: #F8F8F8;
}

.profile-card .card h6 {
  text-transform: none;
  margin-left: 16px;
  font-size: 18px;
  color: #354A21;
  padding: 16px 0 0px 0;
  margin-bottom: 16px;
  font-weight: 700;
  border-bottom-color: #728B6B; 
  border-bottom-style: solid; 
  border-bottom-width: 3px;
  width: fit-content; 
  border-radius: 0;
}

.profile-card .card h6 span {
  color: #728B6B;
  font-weight: 600;
}



label {
  color: black;
  font-weight: 600;
  font-size: 100%;
}
.accordion{
 padding: 10px;

}
/*--------------------------------------------------------------
# section ---> Landing page(home.js)
--------------------------------------------------------------*/
#hero {
  padding: 2%;
}

#hero .home_template_carousel {
  height: 18rem;
}

@media (min-width: 768px) {
  #hero .home_template_carousel {
    height: 28rem;
  }
}
/*
Landing page --> section--> category
*/
.category .home_category_name {
  font-family: montserrat;
  font-weight: 800;
}
.category .category_div {
 
  margin: auto;
  padding: 6vh;
}
.category .home_category_viewmore a {
  margin-top: 0vh;
  float: right;
  list-style-type: none;
  color: yellow;
}
.category .home_category_line {
  width: 71px;
  height: 0px;
  border: yellow 4px solid;
}
.category .cta-btn {
  margin: 0;
  width: 14vw;
  height: 40px;
  text-align: center;
  margin-top: 10px;
}
.category .home_category_viewmore a:hover {
  color: black;
  font-weight: 600;
  font-style: normal;
}
.category .home_category_viewmore a {
  font-weight: 700;
  color: yellow;
  padding: 0;
}
.category .home_div_owl_carousel {
  background-color: grey;
  height: 35vh;
}

p {
  font-size: 40%;
}
@media (max-width:500px){
  .category .home_category_line {
    width: 30px;
    position: relative;
    top: 2vw;
    margin: 5px;
    
  }
}
@media (max-width: 900px) {
  .category .category_div {
    padding: 0;
    padding-top: 10px;
  }
  .category .home_category_name {
    font-size: 60%;
  }

  .category .home_category_viewmore a {
    padding: 0;
    font-size: 40%;
  }
}
@media (min-width: 768px) {
  #hero .home_template_carousel {
    height: 28rem;
  }
  .category .home_div_owl_carousel {
    height: 45vh;
  }
}


/*     section subcribe ---> Landing page*/
#home_subcribe .home_div_subcribe {

  justify-content: center;
  text-align: center;
  margin-top: 4vh;
  padding: 3vh;
}
#home_subcribe .home_span_Subcribe {
  font-weight: 800;
  color: yellow;
}
#home_subcribe .cta-btn a{
  color: yellow;
}
#home_subcribe #home_button_subcribe {
  margin: 2vw;
  background: #000000;
  border-radius: 66px;
  color: white;
  font-weight: 600;
  width: 10rem;
  height: 3rem;
}

.modal-title {
  font-weight: 800;
  font-family: "Open sans";
}

#modal_email {
  font-weight: 700;
}

.fab {
  font-size: 2vw;
  margin: 0;
  color: black;
}
/* Footer section ---> footer*/
#hero_footer {
  margin: auto 2%;
}
#hero_footer .footer_logo_div {
  display: none;
}

#hero_footer .footer-categories {
  flex: 0 0 0;
  position: relative;
  left: -10%;
}
@media (min-width: 968px) {
  #hero_footer .footer_logo_div {
    display: inline;
  }
  #hero_footer .footer-categories {
    flex: 0 0 25%;

    text-align: center;
  }

  #hero_footer .footer_logo_div img {
    width: 6vw;
    height: 5vw;
  }
}
#Home_Div_Footer {
  border: yellow 3px solid;
  margin-top: 2vw;
  padding: 3vh;
}
#hero_footer .footer-span-categories {
  font-size: 1.5vw;
}
#hero_footer .footer_link {
  font-size: 1vw;
  padding: 0;
  font-weight: 600;
  font-family: "Poppins";
  position: relative;
  left: -10%;
}
#hero_footer .footer_link:hover {
  font-size: 2vh;
  font-style: normal;
}
/*
          ---> navigation bar
*/
*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}


@media only screen and (max-width: 320px) {
  .gridcontainer {
  display: grid;
  grid-template-columns:1fr;
  margin-left:15px;   
}
.search{
  width: 100vw;
  height: 65px;
  
}
.searchpadding{
  padding-top: 8px;
}
.searchbar{
  display:inline;
  position: relative;
  margin-left:1px;
  font-size:4.5vw;
}
.searchwidth{
  width:50% !important;
  margin-top:5px;
}
.nav{
  border-bottom:1px solid black; 
  width:101vw;
  height:50px;
  margin:0px;
  padding:0px;
}
.logout{
  position: fixed;
  left:3vw;
  margin-top: 5px;
  display: inline-block;
  margin-left: 0px;
  
}
.h6{
  margin-left: 3px;
  display: inline-block;
  font-size:3.5vw;
  margin-right:0px;
  padding-right: 0px;
}
}


@media only screen and (max-width: 375px) {
  .gridcontainer {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 17px;
}

.search{
  width: 100vw;
  height: 65px;
  
}
.searchpadding{
  padding-top: 14px;
}
.searchbar{
  display:inline;
  position: relative;
  margin-left:15px;
  font-size:3.5vw;
}
.searchwidth{
  width:50% !important;
  display:inline-block;
  margin-left:2px;
  margin-top:5px;
}
.nav{
  border-bottom: 1px solid black;
  width:100vw;
  height:50px;
}
.logout{
  position: relative;
  left:17vw;
  margin-top: 5px;
}
.h6{
  margin-left: 13px;
  display: inline-block;
  font-size:3.5vw;
  margin-right:0px;
  padding-right: 0px;
}
}


@media only screen and (min-width: 425px) {
 .gridcontainer {
  display: grid;
  grid-template-columns:1fr;
  margin-left: 10px;
}

.search{
  width: 100vw;
  height: 65px;
  
}
.searchpadding{
  padding-top: 14px;
}
.searchbar{
  display:inline;
  position: relative;
  margin-left:15px;
  font-size:3vw;
}
.searchwidth{
  width:50% !important;
  display:inline-block;
  margin-left:2px;
} 
.nav{
  border-bottom: 1px solid black;
  width:100vw;
  height:50px;
}
.logout{
  position: relative;
  left:21vw;
  margin-top: 5px;
}
.h6{
  margin-left: 13px;
  display: inline-block;
  font-size:3.5vw;
  margin-right:0px;
  padding-right: 0px;
}
}


@media only screen and (min-width:768px) {
  .gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
} 

.search{
  width: 100vw;
  height: 65px;
 
}
.searchpadding{
  padding-top: 14px;
}
.searchbar{
  display:inline;
  position: relative;
  margin-left:15vw;
  font-size:2.5vw;
}
.searchwidth{
  width:50% !important;
  display:inline-block;
  margin-left:2px;
  margin-top:5px;
}
.nav{
  border-bottom: 1px solid black;
  width:96vw;
  height:50px;
}
.logout{
  position: relative;
  left:45vw;
  margin-top: 5px;
}
.h6{
  margin-left: 13px;
  display: inline-block;
  font-size:2.5vw;
  margin-right:0px;
  padding-right: 0px;
}
}


@media only screen and (min-width: 1024px) {
  .gridcontainer {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 10px;
  }
  
.search{
  width: 98vw;
  height: 65px;
  
}
.searchpadding{
  padding-top: 14px;
}
.searchbar{
  display:inline;
  position: relative;
  margin-left:20vw;
  font-size:1.5vw;
  
}
.searchwidth{
  width:50% !important;
  display:inline-block;
}
.nav{
  border-bottom: 1px solid black;
  width:98.5vw;
  height:50px;

}
.logout{
  position: relative;
  left:56vw;
  margin-top: 7px;
  margin-bottom:13px; 
}
.h6{
  margin-left: 13px;
  display: inline-block;
  font-size:2vw;
  margin-right:0px;
  padding-right: 0px;
}
}


@media only screen and (min-width: 1440px) {
  .gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left:43px;
} 

.search{
  width: 100vw;
  height: 65px;
  
}
.searchpadding{
  padding-top: 10.5px;
}
.nav{
  border-bottom: 1px solid black;
  width:100vw;
  height:50px;
}
.searchbar{
  display:inline;
  position: relative;
  margin-left:20vw;
  font-size:1.20vw;
  
}
.searchwidth{
  width:50% !important;
  display:inline-block;
}
.nav{
  border-bottom: 1px solid black;
  width:100vw;
  height:50px;
}
.logout{
  position: relative;
  left:71vw;
  margin-top:4px;
  
}
.h6{
  margin-left: 3px;
  display: inline-block;
  font-size:1.5vw;
  margin-right:0px;
  padding-right: 0px;
  
}
}










#hero_nav #navbar_customercare {
  margin-top: -3%;
}
#hero_nav #navbar_customercare a {
  font-size: 10px;
  margin-top: -20px;
  font-weight: 600;
  font-family: "Poppins";
}
#hero_nav .navbar_ManarchLogo {
  width: "7vw";
  height: "6vw";
}
#hero_nav .navbar_ManarchLogo img {
  margin-left: 20px;
  width: "7vw";
  height: "6vw";
}
#hero_nav .fas {
  margin: 2%;
  font-size: 1.2rem;
}
#hero_nav .navbar_Icons {
  display: flex;
}
#hero_nav .navbar_span_with_icons {
  display: none;
}
@media only screen and (max-width: 968px) {
  #hero_nav .navbar_Icons {
    display: none;
  }
  #hero_nav .fas {
    font-size: 1rem;
    padding: 2%;
  }
  #hero_nav .navbar_span_with_icons {
    display: grid;
  }
}
/*
section Auth--. Auth.js(views/Auth/auth.js).....(Modal component)
the css in this place stands for modal component only
*/
.modal-content {
  background: white;
  padding: 3%;
}
.modal-header {
  text-align: left;
}

.modal-footer {
  text-align: left;
}
.modal-footer .cta-btn {
  background-color: white;
  color: black;
  border: none;
  width: 8vw;
  margin: 0;
}

.form-control{
  width: 80%;
  display: grid;
  margin: auto;
 
}
form{
  margin: auto;
  padding: 20px;
  color: black;
  font-family: 'Poppins';
  width: 50%;
}
@media (max-width:500px){
  .form-control{
    width: 78%;
  }
  form{
    margin-left: 10%;
  }
}